/*
Name:  TrollEdit - text editor with graphical elements
About: School project

Autor: Jozef Krajčovič
Version: 1.0
Date: 2012

*/

.wrapper
{
	margin-top:50px;
	margin-left:130px;
	margin-right:130px;
	margin-bottom:10px;
}

body
{
    background-color: #FFFFFF;
    color:#404040;
    font-family:sans-serif;
}

ul
{
	list-style:none outside none; 
}

li
{
    padding-left:12px;
	display:inline;
	list-style-type: none;
}

#navigation
{
	text-align:right;	
	font:menu;
	font-size:16px;
}

#logo
{
	padding-top:150px;
	background-position:center;
}

#panel
{
	
	background-color: #EFEFEF;
	border: 1px solid rgb(214,214,214);
	border-radius: 4px 4px 4px 4px;
    height:400px;
}

#foot
{
   color:#B2B2B2;
    font-size:small;
} 
 
 
/* links*/
a
{ 
   color:#404040;
   text-decoration:none;
}

a:hover
{
	color:#720606;
	text-decoration:none;
	font-weight:bold;
}

#head 
{
	text-align: center;	
}

/* label for github */
#github img 
{
   position: absolute;
   top: 0;
   right: 0;
   border: 0;
   display:block;
}

#foot-copyright
{
    
    text-align:right;
}

#bottom-menu
{
    
	text-align:left;
	
}

#bottom-nav
{
	border-top: 1px solid rgb(214,214,214);
	text-align:left;
}

.about
{
	font-family:arial;
	color:#333333;
}

.red
{
	color:#720606;
}

.title
{
	text-align:center;
	font-size:44px;
	border-bottom:1px solid rgb(214,214,214);
}

.title2
{
	font-size:35px;
	text-align:center;
	padding-top:23px;
	border-bottom: 1px dotted rgb(226,226,226);
}

.title3
{
	font-size:24px;
	font-style:italic;
	padding-top:23px;
	border-bottom: 1px dotted rgb(236,236,236);
}

.text
{
	font-size:18px;
	color:#404040;
	text-align:justify;
}

.obr
{
	background-position:center;
} 

.arrow
{
	cursor:pointer;
	text-align:center;
}
 
.line
{
	padding-top:23px;
	border-bottom: 1px dotted rgb(226,226,226);
}


#show-content
{
	padding-top:100px;
}

#content
{
	width:100%;
	height:100%;
}

.center
{	
	text-align:center;
}

#end
{
	text-align:center;
	padding-top:120px;
	padding-bottom:70px;
}

#worry
{
	text-align:center;
	font-size:29px;
	font-style:italic;
}

.border
{
	border-bottom:1px solid rgb(214,214,214);
}

.padding
{
	padding-bottom:45px;
}

.top
{
	text-align:right;
}


.auto-style1 {
	text-align: center;
}
.auto-style2 {
	margin-left: 83px;
}
.auto-style3 {
	margin-left: 32px;
}

/*for slider*/
#slideshow {
	margin:0 auto;
	width:1000px;
	height:450px;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:780px;
  height:500px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
 
.control {
  display:block;
  width:82px;
  height:80px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:200px;
  left:10px;
  background:transparent url(img/control_left.png) no-repeat 0 0;
}
#rightControl {
  top:200px;
  right:10px;
  background:transparent url(img/control_right.png) no-repeat 0 0;
}


